@import url('../src/screenRes.js');

:root {

    --sizeWidth: ;
    --sizeHeight: ;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

$bgColorButon: #920303;
$bgColorButonHover: #3f0000;
$bgColorButonHoverGrey: rgb(192, 190, 190);

.wrapper {
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

#log-in {
    display: none;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    background-color: white;
    z-index: 4;

    form {
        border: 3px solid #f1f1f1;
        width: 90%;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
    }

    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: $bgColorButon;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        border-radius: 12px;
    }

    button:hover {
        opacity: 0.8;
    }

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: $bgColorButon;
    }

    .container {
        padding: 16px;
        
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }
}

a.red-button {
    background-color: $bgColorButon;
    border-radius: 12px;
    color: white;

    &:hover {
        background-color: $bgColorButonHover;
    }
}

a.red-button-order {
    background-color: $bgColorButon;
    border-radius: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 30px;
    width: 200px;
    height: 50px;

    &:hover {
        background-color: $bgColorButonHover;
    }
}

.bg-black {
    color: white;
    background-color: #000;
}

.bg-red {
    color: white;
    background-color: $bgColorButon;
}

nav {
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw;
    display: flex;
    flex-direction: row;

    .menu {
        height: 100%;
        display: flex;
        flex-direction: row;

        .logo {
            box-sizing: border-box;
            background-image: url('../img/l@2x.png');
            background-repeat: no-repeat;
            background-size: contain;
            margin: 10px;
            margin-right: 50px;
            height: 48px;
            width: 47px;
        }

        .menu-links {
            justify-content: space-around;
            align-items: center;
            width: 100%;
            display: flex;

            li {
                list-style: none;
                top: 0;
                transition: top ease 0.5s;
                vertical-align: middle;
                padding: 10px;
                white-space: nowrap;

                &:hover {
                    top: -5px;
                    background-color: rgb(224, 224, 224);
                    border-radius: 12px;
                }
            }
        }

    }

    .user-menu {
        display: flex;
        height: 100%;

        a {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 80px;
            padding: 5px;
            margin: 5px;

            img {
                height: 17px;
                width: 17px;
                margin: 2px auto;
            }

            p {
                text-align: center;
            }
        }

        .user-button:hover {
            background-color: rgb(224, 224, 224);
            border-radius: 12px;
        }

    }

    .burger {
        display: none;
        cursor: pointer;

        div {
            width: 25px;
            height: 3px;
            margin: 5px;
            background-color: $bgColorButon;
        }
    }
}

.header {
    display: flex;
    width: 100%;
    // height: 620px;
    height: 32vw;

    .swiper {
        flex-basis: 50%;

        .swiper-page {
            box-sizing: border-box;
            // padding: 110px 0 0 130px;
            padding: 5vw 0 0 7vw;

            h1 {
                font-size: 3vw;
                margin-bottom: 30px;
            }

            div {
                width: 60%;

                p {
                    // font-size: 20px;
                    font-size: 1.1vw;
                    margin-bottom: 30px;
                }
            }

        }

        .swiper-pagination {
            position: absolute;
            bottom: 10px;
            right: 70%;
            width: auto !important;
            left: auto !important;
            margin: 0;
        }

    }

    .steak-picture {
        flex-basis: 50%;
        background-image: url('../img/Bitmap@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

}

.swiper-pagination-horizontal {
    display: flex;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    padding: 2px;
    opacity: 1;
    background-color: transparent;
    background-image: url('../img/Oval\ Copy\ 2.svg');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-pagination-bullet-active {
    width: 14px;
    height: 14px;
    color: transparent;
    background-color: white;
    background-image: url('../img/Oval Copy 5.svg');
    background-size: 105% 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.deliver {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 1200px;
    overflow: hidden;

    .deliver-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
    }
}

.articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96vw;
    margin: 0 auto 20px;

    .article {
        flex-basis: 49.5%;
        box-sizing: border-box;
        height: 400px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border-radius: 10px;
        padding: 60px 60px 100px 80px;

        h1,
        p {
            color: white;
            margin-bottom: 20px;
            width: 270px;
        }

        .apps {
            margin-bottom: 20px;
        }
        a {
            img {
                position: relative;
                transition: top 1s ease 0s;
                &:hover {
                    top: -5px;
                }
            }
        }

        &:nth-child(1) {
            background-image: url('../img/dana-devolk-x2cNcfz_xXU-unsplash@2x.png');
        }

        &:nth-child(2) {
            background-image: url('../img/aplikacja@2x.png');
        }
    }
}

#cookieNotice {
    display: none;
    box-sizing: border-box;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    background-color: beige;
    width: 100%;

    .content-wrap {
        .msg-wrap {
            p {
                a {
                    color: #115cfa;


                }
            }

            .btn-wrap {
                button {
                    background-color: $bgColorButon;
                    color: white;
                    padding: 14px 20px;
                    margin: 8px 0;
                    border: none;
                    cursor: pointer;
                    width: 100%;
                    border-radius: 12px;

                    &:hover {
                        background-color: $bgColorButonHover;
                        opacity: 0.8;
                    }
                }
            }
        }
    }

}

.hidden {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 2;
}
.empty {
    display:none;
}

@media(max-width: 1100px) {
    #log-in {
        width: 80%;
    }
    .empty {
        position: relative;
        height: 68px;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .header {
        // height: 620px;
        top:68px;
        height: 360px;
        background-image: url('../img/Bitmap@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        color: white;

        .swiper {
            flex-basis: 100%;

            .swiper-wrapper {
                .swiper-page {
                    background-color: rgba(0, 0, 0, 0.4);
                    padding: 5vw 7vw 0 7vw;

                    h1 {
                        font-size: 32px;
                        margin-bottom: 20px;
                    }

                    div {
                        p {
                            // font-size: 20px;
                            font-size: 14px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }

        .steak-picture {
            display: none;
        }

    }

    .deliver {

        //width: 300px; //dopisane usunac
        .deliver-wrapper {
            animation: vertical-scroll 20s linear infinite both;
        }
    }

    .articles {
        flex-direction: column;
        .article{
            padding: 100px 120px;
        }

        .article:nth-child(1) {
            width: 100%;
            margin-bottom: 10px;

        }

        .article:nth-child(2) {
            width: 100%;
        }
    }

    .menu-links {
        position: fixed;
        right: 0px;
        height: 82vh;
        top: 68px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: $bgColorButonHover;
        color: white;
        z-index: 2;

        li {
            opacity: 1;
            color: white;
            //padding: 30px;
            width: 100%;
            text-align: center;
            padding: 0;
            margin: 0;

            &:hover {
                width: 100%;
                background-color: grey;
                text-align: center;
                color: #000;

                a {
                    color: #000;

                }
            }

            a {
                color: white;
                text-align: center;
                padding: 1rem;
                display: table;
                width: 85%;
            }

        }
    }

    nav {
        position: fixed;
        width: 90%;
        background-color: white;
        z-index: 3;
        .burger {
            display: block;
        }

        .user-menu {
            height: 120px;
            display: flex;

            a {
                width: 100%;
                padding: 15px;
                padding-top: 20px;
                margin: 10px;
                height: 60px;
            }
        }
    }

    .user-menu {
        position: fixed;
        top: 87vh;
        height: 15vh;
        right: 0;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
        background-color: white;
        width: 100%;
        display: flex;
    }

    a {
        width: 100%;
    }
}


@media only screen and (max-width: 600px) {

    nav {
        .menu {
            .logo {
                background-image: url('../img/l.png');
            }
        }
    }
    #log-in {
        width: 100%;
    }
    a.red-button-order {
        padding: 10px 30px;
        width: 160px;
        height: 42px;
    }

    .articles {
        padding: 0 5px;
        //width: 94vw;

        .article:nth-child(1) {
            padding: 30px 40px;
            margin-bottom: 10px;
            background-image: url('../img/dana-devolk-x2cNcfz_xXU-unsplash.png');
        }

        .article:nth-child(2) {
            padding: 30px 40px;
            background-image: url('../img/aplikacja.png');

        }
    }

    .header {
        background-image: url('../img/Bitmapv.png');
        .swiper {
            .swiper-wrapper {
                .swiper-page {
                    div {
                        width: 100%;
                    }

                    h1 {
                        font-size: 28px;
                    }
                }
            }
        }
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes vertical-scroll {
    0% {
        left: -100%
    }

    100% {
        left: 100vw
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}